h1 nodeCQRS Monitor

p last roundtrip took (ms): 
    span(data-bind='text: last')
p average roundtrip is (ms): 
    span(data-bind='text: average')

p hover an item to see full message:

ul(data-bind="template: { name: 'commandTemplate', foreach: items }")
span(data-bind='text: "items: " + items().length')

// TEMPLATES
script(id='commandTemplate', type='text/html')
    li(data-bind='attr: { title: command.raw_str }')
        span(data-bind='text: command.name')
        | &nbsp;
        span(data-bind='text: command.time')
        
        ul(data-bind="template: { name: 'eventTemplate', foreach: events }")
        
script(id='eventTemplate', type='text/html')
    li(data-bind='attr: { title: raw_str }')
        span(data-bind='text: name')
        | &nbsp;
        span(data-bind='text: time')
        | &nbsp; took (ms) 
        span(data-bind='text: elapsed')
