h1 SimpleCQRS
p At this point of development you can just send a command to the host to create a new item.
p To see the app in action you should take a look at host and domain console window!

input(id='newItem', type='text', placeholder='create new Item...', data-bind="value: newItem")
button(data-bind="click: createItem") create

ol(data-bind="template: { name: 'itemTemplate', foreach: items }")


// TEMPLATES
script(id='itemTemplate', type='text/html')
	li ${$data}
