doctype html
html(lang="en")
    head
        title nodeCQRS - CQRS Sample with nodeEventStore
    body
        div
          block content
        
        script(src='/js/lib/jquery-1.6.js', type='text/javascript')
        script(src='/js/lib/underscore.js', type='text/javascript')
        script(src='/js/lib/backbone.js', type='text/javascript')
        script(src='/js/lib/backboneCQRS-0.4.js', type='text/javascript')
        script(src='http://localhost:3000/socket.io/socket.io.js', type='text/javascript')
        script(src='/js/app.js', type='text/javascript')

